body {
  margin: 0;
  padding: 0;
  background: #76d7c4;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

* {
  box-sizing: border-box;
}

.App {
  background: #76d7c4;
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  width: 90%;
  margin: 3rem auto;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 0px 10px 16px black;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.return-para {
  margin: 1rem auto;
}

.input-text {
  margin: 1rem 2rem;
  min-height: 35px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  outline: none;
  text-align: center;
}

button {
  margin: 1rem;
  padding: 10px 1rem;
  width: fit-content;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 1rem;
}

.table-container {
  text-align: center;
  width: 90%;
  margin: auto;
}

table {
  border-collapse: collapse;
  border: solid;
  margin: auto;
}

td {
  border: solid;
  width: 90px;
  max-width: 70px;
  height: 30px;
}

.alert {
  color: red;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

#amount-div {
  display: none;
}

#returnChangeDiv {
  display: none;
}
